@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
*Break points:
*desktop > 550px
*mobile < 550px 
*/
/*Positioning*/
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--body-font-color);
    background-color: var(--body-background-color);
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.533333px;
}
body,
h3,
h4,
input,
button {
    font-family: "Spartan", sans-serif;
}
h4 {
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 1px;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 50px auto;
    align-content: center;
}
/*Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.change-themes {
    display: grid;
    grid-template-areas: "a numbers" "h4 buttons";
    column-gap: 21px;
}
.h4-container {
    grid-area: h4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme-numbers {
    grid-area: numbers;
}
.bar {
    grid-area: buttons;
    border-radius: 13px;
    border: none;
    background-color: var(--bar-background-color);
}
.circle,
.theme-numbers > p {
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 12px;
    line-height: 13px;
}
.circle {
    border-radius: 50%;
    background: var(--submit-button-background);
    visibility: hidden;
}
.theme-numbers,
.bar {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    justify-content: space-around;
    width: 71px;
    height: 26px;
    padding: 4px;
}
/*Form*/
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
main {
    display: grid;
    background-color: var(--bar-background-color);
}
.reset-button {
    grid-column: 1/3;
}
.submit-button {
    grid-column: 3/5;
}
input {
    outline: none;
    border: none;
    text-align: right;
    width: 100%;
    background-color: var(--input-backround-color);
    color: var(--body-font-color);
}

/*Button style*/
button {
    height: 64px;
    border: none;
}
.normal-button {
    box-shadow: inset 0px -4px 0px var(--normal-button-shadow);
    background-color: var(--normal-button-background);
    color: var(--normal-button-color);
}
.reset-button,
.del-button {
    box-shadow: inset 0px -4px 0px var(--del-button-shadow);
    background-color: var(--del-button-background);
    color: white;
}
.submit-button {
    box-shadow: inset 0px -4px 0px var(--submit-button-shadow);
    background-color: var(--submit-button-background);
    color: var(--submit-button-color);
}

/*Hover button style*/
button:hover {
    cursor: pointer;
}
.normal-button:hover {
    box-shadow: inset 0px -4px 0px var(--normal-hover-shadow);
    background-color: var(--normal-hover-background);
}
.reset-button:hover,
.del-button:hover {
    box-shadow: inset 0px -4px 0px var(--del-hover-shadow);
    background-color: var(--del-hover-background);
}
.submit-button:hover {
    box-shadow: inset 0px -4px 0px var(--submit-hover-shadow);
    background-color: var(--submit-hover-background);
}
/*Desktop*/
@media screen and (min-width: 550px) {
    .container {
        width: 540px;
    }
    main {
        gap: 24px;
        padding: 32px 30px;
        grid-template-columns: repeat(4, 101px);
    }
    button {
        font-size: 32px;
        line-height: 36px;
    }
    button,
    main,
    input {
        border-radius: 10px;
    }
    .reset-button,
    .del-button {
        font-size: 20px;
    }
    input {
        height: 128px;
        font-size: 48px;
        line-height: 54px;
        letter-spacing: -0.8px;
        padding-right: 32px;
    }
}

/*Mobile*/
@media screen and (max-width: 549px) {
    .container {
        width: 90%;
        min-width: 320px;
    }
    main {
        gap: 13px;
        padding: 24px;
        grid-template-columns: repeat(4, 60px);
    }
    button {
        font-size: 28px;
        line-height: 31px;
    }
    button,
    main,
    input {
        border-radius: 5px;
    }
    .reset-button,
    .del-button {
        font-size: 16px;
    }
    input {
        height: 88px;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -0.533333px;
        padding-right: 24px;
    }
}

/*XS Mobile*/
@media screen and (max-width: 320px) {
    section.container {
        min-width: 97%;
    }
    form > main {
        gap: 5px;
        padding: 5px;
        grid-template-columns: repeat(4, 60px);
        width: 265px;
        margin: 0;
    }
}
